<div id="sidebar">
    <div class="max991" id="mobile-sidebar">
        
        <ul>
            <!-- <p>Contact</p> -->
            <li class="mobile-section">
                <a role="tile">
                    <i class="fas fa-code"></i>
                    Get in touch
                </a>
                <form action="" method="post">
                    <ul>
                        <li><input type="name" name="mail" placeholder="Your Name"></li>
                        <li><input type="text" name="" placeholder="Subject"></li>
                        <li><input type="email" name="" placeholder="Email address"></li>
                        <li><textarea name="message" placeholder="Message" id="msgbox"></textarea>
                        </li>
                    </ul>
                    <button type="submit" name="submit">Send</button>
                </form>
                
            </li>
            
        </ul>
    </div>
    
</div>
<div class="content-wrapper">
<div id="page-cover" (click)="toggleSidebar()"></div>
<div class="home">
    <div class="bgwrapper">
        <div class="background">
            <video class="bg-video" [muted]="true" autoplay loop>
            <source src="../assets/bg.mp4" type="video/mp4">
          </video>
        </div>
    </div>
   

    <div class="container">

        <div class="navigation">
            <div class="bar">
                <img src="../assets/js icon.png" alt="Jack Sendall" class="js">
                <div class="text-container">
                    <h2>Jack Sendall</h2>
                    <h3>Front-end Developer</h3>
                    <ul class="actions">
                        <!-- <li><a class="navbtn"></a></li> -->
                        <li><a class="navbtn about-me" href="#about-me">About Me</a></li>
                        <span>-</span>
                        <li><a class="navbtn portfolio" href="#portfolio">Portfolio</a></li>
                        <span>-</span>
                        <!-- <li><a class="navbtn blog">Blog</a></li> -->
                        <li><a class="navbtn contact" (click)="toggleSidebar()" href="#">Contact</a></li>
                    </ul>
                    
                </div>
                
            </div>
        </div>
        
    </div>

</div>
<div class="section" id="about-me">
    <div class="container">
        
        <!-- DEBUG -->

        <!-- <ul class="testbuttons">
            <li>
                <a class="btn testbtn" href="">Submit</a>
            </li>
            <li>
                <a class="btn testbtnhover testbtn" href="">Submit</a>
            </li>
        </ul> -->

        <!-- (buttons) -->
        <h1>About Me</h1>
        <p class="center afterscore">My inspiration comes from my passion for new technology and the exciting new frontier of opportunities that come with it. I believe that with the right knowledge and working with the next-generation of technology, I can help in making a difference that affects the lives of people and businesses all over the world.
        </p>

        <div class="skills">
            <h1>Experience With</h1>
            <ul>
                <li><img src="../assets/html.png" alt="HTML" title="HTML"></li>
                <li><img src="../assets/css.png" alt="CSS" title="CSS"></li>
                <li><img src="../assets/js.png" alt="Javascript" title="Javascript"></li>
                <li><img src="../assets/ts.png" alt="Typescript" title="Typescript"></li>
                <li><img src="../assets/react.svg" alt="React" title="React"></li>
                <li><img src="../assets/angular-icon.svg" alt="Angular" title="Angular 7"></li>
                <li><img src="../assets/ps.svg" alt="Photoshop" title="Adobe Photoshop"></li>
                <li><img src="../assets/pr.png" alt="Premiere Pro" title="Adobe Premiere"></li>
                <li><img src="../assets/wp.png" alt="Wordpress" title="Wordpress"></li>
                <li><img src="../assets/git.png" alt="Git" title="Git"></li>
            </ul>
        </div>
    </div>
</div>


<app-my-work id="portfolio"></app-my-work>

</div>
