<div class="work-section">
    <div class="container">
        <h1 class="beforescore">
            My work
        </h1>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card">
                    <img src="../../assets/site-js-api-project.png">
                    <div class="card-elements">
                        <h3 class="card-title">Unsplash API Project</h3>
                        <h5 class="card-text"><code>This is a project that I did while learning vanilla JavaScript, a random image generator that accepts a search paramater and gets data from the Unsplash API.</code></h5>
                        <div class="card-btn-wrap">
                            <div class="btn card-btn">
                                <img src="../../assets/github.svg">
                                <a href="https://github.com/jacksendall/js-challenge-2" target="_blank">Code</a>
                            </div>
                            <a class="btn card-btn" href="#" target="_blank">Visit</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card">
                    <img src="../../assets/site-twitch-react.png">
                    <div class="card-elements">
                        <h3 class="card-title">Twitch Dashboard App in React</h3>
                        <h5 class="card-text"><code>A React application that utilizes Twitch's API to get and format current livestream data into a simple dashboard.</code></h5>
                        <div class="card-btn-wrap">
                            <div class="btn card-btn">
                                <img src="../../assets/github.svg">
                                <a href="https://github.com/jacksendall/Twitch-API-Dashboard-React" target="_blank">Code</a>
                            </div>
                            <a class="btn card-btn" href="#" target="_blank">Visit</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card">
                    <img src="../../assets/sire-alert.png">
                    <div class="card-elements">
                        <h3 class="card-title">Alert Trading Marketing Website</h3>
                        <h5 class="card-text"><code>I made this website as a single page application using Angular as a website for an online marketing company.</code></h5>
                        <div class="card-btn-wrap">
                            <div class="btn card-btn">
                                <img src="../../assets/github.svg">
                                <a href="https://github.com/jacksendall/Alert-Angular-build" target="_blank">Code</a>
                            </div>
                            <a class="btn card-btn" href="#" target="_blank">Visit</a>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card">
                    <img src="../../assets/site-qualitybuilders.png">
                    <div class="card-elements">
                        <h3 class="card-title">Quality Builders</h3>
                        <h5 class="card-text"><code>This is a pairs project that I did at Netmatters with a colleague. We were given a limited timeframe, an image mockup of the home page and creative license for the other pages.</code></h5>
                        <div class="card-btn-wrap">
                            <div class="btn card-btn">
                                <img src="../../assets/github.svg">
                                <a href="https://github.com/jacksendall/QualityBuilders" target="_blank">Code</a>
                            </div>
                            <a class="btn card-btn" href="#" target="_blank">Visit</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card">
                    <img src="../../assets/site-netmatters.jpg">
                    <div class="card-elements">
                        <h3 class="card-title">Netmatters Website</h3>
                        <h5 class="card-text"><code>This is my rebuild of Netmatters' home page and contact forms in JavaScript and PHP. This is standard practice for developers on the scion coalition scheme web developer course.</code></h5>
                        <div class="card-btn-wrap">
                            <div class="btn card-btn" >
                                <img src="../../assets/github.svg">
                                <a href="https://github.com/jacksendall/Netmatters-Php" target="_blank">Code</a>
                            </div>
                            <div class="btn card-btn" href="#" target="_blank">Visit</div>
                        </div>
                    </div>
                </div>
            </div>
            
            
            
            
            
        </div>
        
    </div>

</div>